// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#featured { 
          width: 940px;
          height: 450px;
          background: #000  no-repeat center center; 
         overflow: hidden;
         }
     


.orbit-bullets li.has-thumb {
    width: 100px;
    height: 75px; }





